*{
    margin: 0;
	padding: 0;
}
body{
	font-family: 'poppins';
	text-align:	center;
}
.wrapper{
	width: 90%;
	margin: 0 auto;
}
header{
	width: 100%;
	height: 100px;
	background: blue;
	position: fixed;
}
.logo{
	width: 30%;
	float: left;
	text-align: left;
	line-height: 100px;
}
.logo a{
	text-decoration: underline;
	font-size: 30px;
	font-family: 'pacific';
	color: white;
}
.nav{
	float: right;
	line-height: 100px;
}
nav a{
	text-decoration: NONE;
	font-family: 'poppins';
	letter-spacing: 4px;
	font-size: 20px;
	color: #fff;
	padding: 36px 10px;
	float: right;
	font-weight: 700;
}
nav a:hover{
	text-decoration: underline;
	color: #130f40;
}
.banner-area{
	background-image: url(images/karen.png);
	background-size: cover;
	background-position: center center;
	top: 100px;
	height: 100vh;
	width: 100%;
	position: fixed;
	font-style: italic;
}
.banner-area::after{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	width: 100%;
	height: 100%;
	background: #130f40;
	opacity: .7;
	z-index: -1;
}
.content{
    width: 100%;
	height: 5500px;
	position: relative;
	background: #000039;
	top: 600px;
	color: rgb(244, 187, 187);
	font-size: 50px;
}
.Author{
    margin-top: 2%;
    margin-left: 3%;
    float: left;
    width: 26%;
}
.column1{
	margin-top: 2%;
	font-size: 25px;
    float: left;
    width: 20%;
}
.column2{
	margin-top: 10px;
	font-size: 25px;
	float: right;
    width: 50%;
}
.inner{
	font-size: 150%;
}
.words{
	color: #fff;
	font-style: italic;
	font-size: 25px;
	float: center;
	margin-left: 10%;
	margin-right: 5%;
}
.theory{
	font-size: 100%;
	margin-left: 10%;
	margin-right: 5%;
	float: left;
}
.mini1{
	float: center;
	width: 50%;
}
.mini2{
	float: center;
	width: 50%;
}
.mini3{
	float: center;
	width: 50%;
}
.mini4{
	float: center;
	width: 50%;
}
