*{
		margin: 0;
		padding: 0;
}
body{
	font-family: 'poppins';
	text-align:	center;
}
.wrapper{
	width: 90%;
	margin: 0 auto;
	font-size: 100%;
}
header{
	width: 100%;
	height: 100px;
	background: blue;
	position: fixed;
}
.logo{
	width: 30%;
	float: left;
	text-align: left;
	line-height: 100px;
}	
.logo a{
	text-decoration: underline;
	font-size: 30px;
	font-family: 'pacific';
	color: white;
}
.nav{
	float: right;
	line-height: 100px;
}
nav a{
	text-decoration: NONE;
	font-family: 'poppins';
	letter-spacing: 4px;
	font-size: 20px;
	color: #fff;
	padding: 36px 10px;
	float: right;
	font-weight: 700;
}
nav a:hover{
	text-decoration: underline;
	color: #130f40;
}
.banner-area{
	background-image: url(images/banner.PNG);
	background-size: cover;
	background-position: center center;
	top: 100px;
	height: 100vh;
	width: 100%;
	position: fixed;
	font-style: italic;
}
.banner-area::after{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	width: 100%;
	height: 100%;
	background: #130f40;
	opacity: .7;
	z-index: -1;
}
.banner-area h2{
	padding-top: 5%;
	font-size: 100px;
	color: transparent;

	-webkit-text-stroke: 1px #fff;
background-image: url(images/background.png);
-webkit-background-clip: text;
background-position: 0 0;
animation: back 20s linear infinite;
}

@keyframes back{
	100%{
		background-position: 2000px 0;
	}
}
.About-us{
	width: 100%;
	height: 850px;
	position: relative;
	background: #000039;
	top: 550px;
	color: bisque;
}
.About-us h2{
	font-size: 500%;
	margin: 0;
	padding-top: 30px;
	letter-spacing: 4px;
}
.About-us p{
	padding: 2% 0;
	line-height: 30px;
	text-align: center;
}
.wrapper a{
	font-size: 30px;
	color: #fff;
}
.wrapper a:hover{
	text-decoration: #130f40;
	color: #130f40;
	-webkit-text-stroke: 1px #fff;
}
