html{
	scroll-behavior: smooth;
}
*{
    margin: 0;
	padding: 0;
}
body{
	font-family: 'poppins';
	text-align:	center;
}
.wrapper{
	width: 90%;
	margin: 0 auto;
}
header{
	width: 100%;
	height: 100px;
	background: blue;
	position: fixed;
}
.logo{
	width: 30%;
	float: left;
	text-align: left;
	line-height: 100px;
}
.logo a{
	text-decoration: underline;
	font-size: 30px;
	font-family: 'pacific';
	color: white;
}
.nav{
	float: right;
	line-height: 100px;
}
nav a{
	text-decoration: NONE;
	font-family: 'poppins';
	letter-spacing: 4px;
	font-size: 20px;
	color: #fff;
	padding: 36px 10px;
	float: right;
	font-weight: 700;
}
nav a:hover{
	text-decoration: underline;
	color: #130f40;
}
.banner-area{
	background-image: url(images/jjkbanner2.png);
	background-size: cover;
	background-position: center center;
	top: 100px;
	height: 100vh;
	width: 100%;
	position: fixed;
	font-style: italic;
}
.banner-area::after{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	width: 100%;
	height: 100%;
	background: #130f40;
	opacity: .7;
	z-index: -1;
}
.banner-area h2{
	padding-top: 8%;
	font-size: 100px;
	color: transparent;

-webkit-text-stroke: 1px #fff;
background-image: url(images/back.png);
-webkit-background-clip: text;
background-position: 0 0;
animation: back 20s linear infinite;
}
@keyframes back{
	100%{
		background-position: 2000px 0;
	}
}
.content{
    width: 100%;
	height: 7000px;
	position: relative;
	background: #000039;
	top: 600px;
	color: rgb(244, 187, 187);
	font-size: 50px;
}
.mini1{
    margin-top: 1%;
	float: center;
	width: 50%;
}
.content{
    font-size: 200%;
    color: #fff;
    font-style: italic;
}
.words{
    text-align: justify;
    margin-left: 1%;
    margin-right: 5%;

    display: flex;
    flex-direction: column;
    align-items: center;
}
.gototop{
	position: fixed;
	width: 50px;
	height: 50px;
	background: #7889d4;
	bottom: 40px;
	right: 50px;

	text-decoration: none;
	text-align: center;
	line-height: 50px;
	color: white;
	font-size: 30px;
}