@import url('https://fonts.googleapis.com/css?family=poppins:300,400,500,600,700,800,900&display=swap');
*
*,
*::after,
*::before
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    scroll-behavior: smooth;
}
body
{
    background: linear-gradient(#0040ff,#8000ff);
}
header 
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10000;
}
header .logo
{
    font-weight: 700;
    font-size: 2em;
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
}
header ul
{
    align-items: center;
    display: flex;
    justify-content: center;
}
header ul li
{
    list-style: none;
    margin-left: 20px;
}
header ul li a
{
    color: #fff;
    border-radius: 20px;
    padding: 6px 15px;
    text-decoration: none;
}
header ul li a:hover,
header ul .active
{
    color: #8000ff;
    background: #fff;
}
.container
{
    width: 80%;
    margin: 100px auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    gap: 2rem;
}
@media only screen and (max-width:780px)
{
    .container
    {
        flex-direction: column;
        align-items: center;
    }
}
.card
{
    width: 270px;
    height: 370px;
    margin: 15px;
    perspective: 1000px;
    font-family: 'poppins', sans-serif;
    border-radius: 10px;
}
.card_inner
{
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: all .5s linear;
    border-radius: 10px;
}
.face
{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    background: whitesmoke;
    border-radius: 10px;
}
.back
{
    background: center;
    overflow: hidden;
    z-index: -1;
    display: block;
    transform: rotateY(180deg);
    box-sizing: border-box;
}
.back::before
{
    content: "";
    position: absolute; 
    width: 100%;
    height: 100%;
    z-index: -1;
    box-sizing: 100% 100%;

    background-size: cover;
    transform: rotateY(180deg);
}
.front, 
.back
{
    transition: all .5s linear;
}
.front 
{
    background: url(BACK.jpg);
    background-size: cover;
    z-index: 1;
    box-shadow: 5px 5px 5px #000a65;
}
.heading
{
    width: 100%;
    background: #004e92;
    padding: 10px;
    font-size: 14px;
    text-align: center;
    color: #000000;
    text-transform: uppercase;
}
.description
{
    position: absolute;
    width: 100%;
    height: 100px;
    bottom: 0;
    border-radius: 0 0 10px 10px;
    padding: 10px;
    text-transform: uppercase;
    font-style: italic;

    color: transparent;
    -webkit-text-stroke: 1px #fff;
    background-image: url(back.png);
    -webkit-background-clip: text;
    background-position: 0 0;
    animation: back 15s linear infinite;
}
@keyframes back{
	100%{
		background-position: 2000px 0;
	}
}

.h3
{
    margin: 10px 0;
    font-size: 16px;
    text-align: center;
    color: rgb(249, 249, 249);
}
.back
{
    background-size: cover;
    box-shadow: 0 0 0 #000a65;
}
li
{
    margin-top: 15px;
    color: rgb(201, 201, 201);
    list-style: none;
    text-align: center;
    padding: 10px;
    margin: 10px 0;
    font-style: oblique;
}
.container li
{
    color: white;
    text-shadow: -1px -1px 0 black,  
                  1px -1px 0 black,
                 -1px  1px 0 black,
                  1px  1px 0 black;
}
.Character
{
    position: absolute;
    bottom: 30px;
    width: 100%;
    text-align: center;
    border: 0 0 10px 10px;
    padding: 15px;
    color: #e7e7e7;
    text-shadow: -1px -1px 0 rgb(38, 0, 255),  
                    1px -1px 0 rgb(38, 0, 255),
                     -1px  1px 0 rgb(0, 13, 255),
                     1px  1px 0 rgb(38, 0, 255);
}
.card_inner.flipped {
    transform: rotateY(180deg);
}
.break{
    width: 100%;
    height: 5px;
    background-color: aqua;
}
.break h1
{
    margin: 100px auto;
    font: 5px;
    color: #ffffff;
    width: 10px;
}

/* Charaters */
/*//////////////////////////////////////////female//////////////////////// */
.Nezuko
{
    background-image: url(Characters/Females/Nezuko.jfif);
}
.Daki
{
    background-image: url(Characters/Females/Daki.jfif);
}
.Mitsuri
{
    background-image: url(Characters/Females/Mitsuri.jfif);
}
.Shinobu
{
    background-image: url(Characters/Females/Shinobu.jfif);
}
.Kanao
{
    background-image: url(Characters/Females/Kanao.jfif);
}
.Kanae
{
    background-image: url(Characters/Females/Kanae.jfif);
}
.Tamayo
{
    background-image: url(Characters/Females/Tamayo.jfif);
}
.Nakime
{
    background-image: url(Characters/Females/Nakime.jfif);
}
.Hinatsuru
{
    background-image: url(Characters/Females/Hinatsuru.jfif);
}
.Suma
{
    background-image: url(Characters/Females/Suma.jfif);
}
.Makio
{
    background-image: url(Characters/Females/Makio.jfif);
}
.Susamaru
{
    background-image: url(Characters/Females/Susamaru.jfif);
}
/*////////////////////////////Male////////////////////////////////////// */
.Tanjiro
{
    background-image: url(Characters/Males/Tanjiro.jfif);
}
.Giyu
{
    background-image: url(Characters/Males/Giyu.jfif);
}
.Doma
{
    background-image: url(Characters/Males/Doma.jfif);
}
.Akaza
{
    background-image: url(Characters/Males/Akaza.jfif);
}
.Yoriichi
{
    background-image: url(Characters/Males/Yoriichi.jfif);
}
.Muichiro
{
    background-image: url(Characters/Males/Muichiro.jfif);
}
.Kokushibo
{
    background-image: url(Characters/Males/Kokushibo.jfif);
}
.Muzan
{
    background-image: url(Characters/Males/Muzan.jfif);
}
.Sanemi
{
    background-image: url(Characters/Males/Sanemi.jfif);
}
.Enmu
{
    background-image: url(Characters/Males/Enmu.jfif);
}
.Genya
{
    background-image: url(Characters/Males/Genya.jfif);
}
.Gyutaro
{
    background-image: url(Characters/Males/Gyutaro.jfif);
}
.Gyomei
{
    background-image: url(Characters/Males/Gyomei.jfif);
}
.Inosuke
{
    background-image: url(Characters/Males/Inosuke.jfif);
}
.Kyojuro
{
    background-image: url(Characters/Males/Kyojuro.jfif);
}
.Zenitsu
{
    background-image: url(Characters/Males/Zenitsu.jfif);
}
.Tengen
{
    background-image: url(Characters/Males/Tengen.jfif);
}
.Senjuro
{
    background-image: url(Characters/Males/Senjuro.jfif);
}
.Sakonji
{
    background-image: url(Characters/Males/Sakonji.jfif);
}
.Sabito
{
    background-image: url(Characters/Males/Sabito.jfif);
}
.Obanai
{
    background-image: url(Characters/Males/Obanai.jfif);
}
/*different back pictures */
/*////////////////////////////femaleS////////////////////////////////////// */
.front.Nezuko
{
    background-image: url(Characters/Females/NezukoBack.jfif);
    background-position: center;
}
.front.Daki
{
    background-image: url(Characters/Females/DakiBack.jfif);
    background-position: center;
}
.front.Mitsuri
{
    background-image: url(Characters/Females/MitsuriBack.jfif);
    background-position: center;
}
.front.Shinobu
{
    background-image: url(Characters/Females/ShinobuBack.jfif);
    background-position: center;
}
.front.Kanao
{
    background-image: url(Characters/Females/KanaoBack.jfif);
    background-position: center;
}
.front.Kanae
{
    background-image: url(Characters/Females/KanaeBack.jfif);
    background-position: center;
}
.front.Tamayo
{
    background-image: url(Characters/Females/TamayoBack.jfif);
    background-position: center;
}
.front.Nakime
{
    background-image: url(Characters/Females/NakimeBack.jfif);
    background-position: center;
}
.front.Hinatsuru
{
    background-image: url(Characters/Females/HinatsuruBack.jfif);
    background-position: center;
}
.front.Suma 
{
    background-image: url(Characters/Females/SumaBack.jfif);
    background-position: center;
}
.front.Makio
{
    background-image: url(Characters/Females/MakioBack.jfif);
    background-position: center;
}
.front.Susamaru
{
    background-image: url(Characters/Females/SusamaruBack.jfif);
    background-position: center;
}
/*////////////Males//////////////////*/
.front.Tanjiro
{
    background-image: url(Characters/Males/TanjiroBack.jfif);
    background-position: center;
}
.front.Giyu
{
    background-image: url(Characters/Males/GiyuBack.jfif);
    background-position: center;
}
.front.Doma
{
    background-image: url(Characters/Males/DomaBack.jfif);
    background-position: center;
}
.front.Akaza
{
    background-image: url(Characters/Males/AkazaBack.jfif);
    background-position: center;
}
.front.Yoriichi
{
    background-image: url(Characters/Males/YoriichiBack.jfif);
    background-position: center;
}
.front.Muichiro
{
    background-image: url(Characters/Males/MuichiroBack.jfif);
    background-position: center;
}
.front.Kokushibo
{
    background-image: url(Characters/Males/KokushiboBack.jfif);
    background-position: center;
}
.front.Muzan
{
    background-image: url(Characters/Males/MuzanBack.jfif);
    background-position: center;
}
.front.Sanemi
{
    background-image: url(Characters/Males/SanemiBack.jfif);
    background-position: center;
}
.front.Enmu
{
    background-image: url(Characters/Males/EnmuBack.jfif);
    background-position: center;
}
.front.Genya
{
    background-image: url(Characters/Males/GenyaBack.jfif);
    background-position: center;
}
.front.Gyutaro
{
    background-image: url(Characters/Males/GyutaroBack.jfif);
    background-position: center;
}
.front.Gyomei
{
    background-image: url(Characters/Males/GyomeiBack.jfif);
    background-position: center;
}
.front.Inosuke
{
    background-image: url(Characters/Males/InosukeBack.jfif);
    background-position: center;
}
.front.Kyojuro
{
    background-image: url(Characters/Males/KyojuroBack.jfif);
    background-position: center;
}
.front.Zenitsu
{
    background-image: url(Characters/Males/ZenitsuBack.jfif);
    background-position: center;
}
.front.Tengen
{
    background-image: url(Characters/Males/TengenBack.jfif);
    background-position: center;
}
.front.Senjuro
{
    background-image: url(Characters/Males/SenjuroBack.jfif);
    background-position: center;
}
.front.Sakonji
{
    background-image: url(Characters/Males/SakonjiBack.jfif);
    background-position: center;
}
.front.Sabito
{
    background-image: url(Characters/Males/SabitoBack.jfif);
    background-position: center;
}
.front.Obanai
{
    background-image: url(Characters/Males/ObanaiBack.jfif);
    background-position: center;
}
/* COMING SOON CARD */
.MORE,
.front.more
{
    background-image: url(Characters/Coming\ soon.jfif);
    background-position: center;
}